.cities{
    h1 { font-size: 2.5em; }
    @include media($breakpoint-ipad){
      h1{
        font-weight: 800;
        font-size: 4em;
      }
    }
  }

li.city-name a{
  font-size: .6em;
  padding-left: 5%;
}

li.printer-list a{
  width: 100%;
  font-size: .6em;
}

.l-primary-content.city-show{
  @include media($breakpoint-ipad){ margin-top: 5%; }
}