.cities{
  h1 {
    font-size: 1.4em;
    @include media($breakpoint-ipad){
        font-weight: 800;
        font-size: 3em;
    }
    @include media($breakpoint-desktop){
      font-weight: 800;
      font-size: 4em;
    }
  }
}

li.city-name a{
  font-size: .6em;
  padding-left: 5%;
}

li.printer-list a{
  width: 100%;
  font-size: .6em;
}

.l-primary-content.city-show{
  @include media($breakpoint-ipad){ margin-top: 5%; }
}