.footer
  %ul
    %li=link_to 'Home', root_path
    %li=link_to 'See all printers', printers_path
    %li=link_to 'See all cities', cities_path
    %li=link_to 'List your shop', new_printer_path
    %li=link_to 'Request your city', new_city_path