.printer-sheet{
  position: relative;
  background: white;
  padding: 1% 4%;
  margin: 10% 0 2%;
  border-radius: 3px;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
  border: 1px solid #bbbbbb;
}

.printer-nav{
  ul{
    text-align: right;
    margin-top: -35px;
    margin-bottom: 24px;
  }
  li{
    font-size: 1em;
    display: inline-block;
    padding: 0 1%;
  }
  a{
    font-family: $sans;
  }
}

.printer-head{
  @include row();
}

.printer-column{
  @include span-columns(4);
  h2{
    font-size: 2em;
  }
}

.printer-copy{
  h1, h2, h3, h4, h5, h6{
    color: $steele;
    font-size: 2em;
  }
  p{
    line-height: 28px;
  }
}

.printer-column{
  h2, h3, li{
    font-size: 1.2em;
  }
  a{
    font-size: .7em;
  }
}

.formatting-help{
  position: absolute;
  top: 606px;
  right: 40px;
  border: 1px solid #aaa;
  background: #e4e4e4;
  width: 325px;
  padding: 1%;
  h1, h2, h3, h4, p, ul, li{
    font-size: 1em;
    padding: 0;
    margin: 0;
  }
  h1, h2, h3{
    display: inline;
  }
  h4{
    font-weight: bold;
  }
  p{
    font-style: italic;
    margin-bottom: 5px;
    color: #7e7e7e;
  }
}

.printer-profile{
  @include row();
}

.printer-content-nav{
  @include span-columns(3);
  ul{
    margin: 0;
  }
  li{
    font-size: 1em;
    &:hover{
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

.printer-content{
  @include span-columns(9);
}

#about-content, #customer-service-content, #services-content, #terms-content, #price-list-content, #garments-list-content {
  display: none;
}


.printer-index-list{
  li{
    font-size: 1em;
    color: $grey
  }
  a{
    color: $steele;
    font-size: 2em;
    font-family: $sans;
    font-weight: bold;
  }
}