.hero
  %h1 Need T-shirts?
  %h2 Find the cheapest, closest, or best screen printer for you.

.two-grid
  .cities
    %h3.air Screen printers by city
    - @cities.each do |city|
      %ul
        %li=link_to city.name, city

  .quote
    %h3=link_to "Request a quote", new_quote_path