.pages
  %h1 Need T-shirts?
.l-primary-content.listing
  %h2 Find the best printer by
  %ul.hero-link
    %li= link_to "City", cities_path
    %li= link_to "Price", new_quote_path
    %li= link_to "Fashions"


.l-sidebar.sidekick
  = render '/layouts/shared/branding'

  %h2 About us
  %p ScreenPrintly brings t-shirt printers to one spot so you can compare the location, best price, or most fashions. The best t-shirts come from the best printers.

  %h2 How it works
  %p Fill out your project details and discover the best printer for your t-shirt.

  %h2 About the printers
  %p Like it or not, the best printers are not very tech savvy. So, it makes it hard to find them online. So people end up settling for an easy online experience, or asking their friends where they got their shirts printed. Not all printers are the same. And not every printer meets ScreenPrintly's standards. We make sure the printers meet our standards.

