.hero
  %h1 Need T-shirts?
  %h2 Find the cheapest, closest, or best screen printer for you.

.cities
  %h3.air Screen printers by city
  - @cities.each do |city|
    %ul
      %li=link_to city.name, city