=image_tag '#'
=link_to 'How it works'
=link_to 'Why ScreenPrintly'
=link_to 'Printer login'

%h1 Need T-shirts?
%h2 Get quotes from local printers.
%h3 Available cities
%h4 Boulder placeholder

= link_to 'get quotes'


=link_to 'List your shop'
=link_to 'Request your city'