.wrap
  %h1 Need T-shirts?

.spread
  .wrap
    %h2 Get quotes from local printers.

.wrap
  %h3 Participating cities
  - @cities.each do |city|
    %ul
      %li
        *
        = city.name
        (8 printers wants to send you a bid!)
