// General Containers

#l-constrained {
  @include outer-container();
  padding: 0 $page-gutter;
  @include media($breakpoint-ipad){
    @include shift(3.2);
 }
}

#l-header{
  @include outer-container();
  @include shift(3.2);

  h1{
    @include text-tag;
    font-size: 1em;
  }
}

.l-main{
  @include row();
}

.l-primary-content{
  @include media($breakpoint-ipad){ @include span-columns(6); }
}

.l-sidebar {
  border-top: 1px solid $grey;
  padding: 5% 0;
  margin: 5% 0;

  @include media($breakpoint-ipad) {
    border-top: none;
    border-left: 1px dashed $grey;
    padding-left: 4%;
    padding-top: 4%;
    @include span-columns(6);
    p{
      font-size: .9em;
      line-height: 25px;
    }
  }
}


