%h1 You're all set!
%h2 Next steps
%p
  =@printer.contact_name
  ,
  over at
  =@printer.shop_name
  is looking over your order and will be in touch with you soon.

%h3 The Details
%p Would you like to upload your art, shipping, and sizes now, or later?


%h4 Wasn't that a great way to order t-shirts?
%p How about telling your friends about ScreenPrintly!

%h5 Terms and Conditions.
%p If things change, so will your order.