.cities
  %h1 Find a t-shirt printer by city

.l-primary-content.listing
  %h2 Participating Cities
  %ul
  - @cities.each do |city|
    %li.city-name=link_to city.name, city_path(city)

.l-sidebar.sidekick
  = render '/layouts/shared/branding'

  %h2 About Local printers
  %p Local printers can will help you if you're going on tour, or want to visit the shop.

  %h2 Going on tour?
  %p Find the local printer in each city to save on shipping or ordering excess inventory.

  %h2 Shop Etiquette
  %p Shops are busy printing shirts. Don't be surprised if the printer is in an industrial part of town and doesn't look like Project Runway.