* {
  -webkit-font-smoothing: antialiased !important;
  font-size: 100%;
  font-family: $sans;
  color: $steele;

}



h1, h2, h3, h4, h5{
  margin: 0;
}

h1 {
  font-size: 4.5em;
  font-weight: 800;
}

h2 {
  font-size: 3.4em;
  font-weight: 800;
  color: $green;
  font-family: $serif;
  font-weight: 300;
}

h3 {
  font-size: 3em;
  font-weight: 700;
}

h4, li {
  font-size: 2em;
  font-weight: 300;
  font-family: $serif;
}

li{
  list-style: none;
}

table{
  width: 95%;
}

.footer{
  text-align: right;
  border-top: 1px solid #e4e4e4;
  margin-top: 20px;
  li{
    display: inline-block;
    font-size: 1em;
    padding: 0 1%;
  }
  a{
    text-decoration: none;
  }
  a:hover{
    color: $red;
  }
}