// Fonts
$sans: "proxima-nova", sans-serif;
$serif: "adelle",serif;

// Colors
$steele: #404042;
$red: #db2525;
$pink: rgb(250, 221, 239);
$yellow: #ece26f;
$grey: #a2a2a2;
$blue: #005fc5;
$green: rgb(52, 172, 119);
$money: rgba(157, 233, 43, 0.75);