.pages{
    h1 { font-size: 2.5em; }
    @include media($breakpoint-ipad){
      h1{
        font-weight: 800;
        font-size: 4em;
      }
    }
    @include media($breakpoint-desktop){
      h1{
        font-weight: 800;
        font-size: 8em;
      }
    }
  }


.l-primary-content.pages{
    @include media($breakpoint-ipad){
      margin-top: 3%;
    }
  }


.hero-link li a{
  width: 100%;
  font-size: .7em;
  @include media($breakpoint-desktop){
    width: 80%;
    font-size: 1em;
  }
}